@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');

:root{
  --pri_color:#c77e2e;
}
/* 1. Theme default css */

 body {
  font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #777;
	font-style: normal;
  line-height: 26px;
}

/* breadcrumb Section */

.breadcrumb-area {
    background-size: cover;
    position: relative;
    min-height: 550px;
    background-repeat: no-repeat;
    background-color: #000;
    padding-top: 100px;
}
.breadcrumb {
	display: inline-block;
	-ms-flex-wrap: wrap;
	flex-wrap: unset;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: unset;
	border-radius: 0;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li a {
font-size: 16px;
color: #fff;
font-weight: 500;
}
.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 15px;
	padding-left: 10px;
	color: #ddd;
	content: "|";
}
.breadcrumb-title h2 {
	font-size: 70px;
	margin-bottom: 25px;
	line-height: 1;
	color: #fff;
  letter-spacing: 1px;
  font-weight: 800;
}
.breadcrumb-title p {
	margin-bottom: 0;
color: #777;
font-size: 16px;
}
.breadcrumb > .active {
	color:#fffc !important;
	font-weight: 500;
}


/* shop Page-section */


/* sidebar-catagories */

.shop-sidebar-widget a{
	color:#777;
}

.shop-sidebar-widget .widget a:hover {
	padding-left:10px;
  color:#777;
}

.shop-sidebar-widget .widget {
  padding: 40px;
  overflow: hidden;
  margin-bottom: 40px;
  border: 2px solid #fff !important;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, .07);
}

.shop-sidebar-widget .widget-title {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1;
    text-align:left;
    font-weight: 700;
    margin-bottom: 30px;
    border-left: 4px solid var(--pri_color);
    padding-left: 15px;
}

.shop-sidebar-widget .widget li {
    padding-bottom: 5px;
    padding-top: 5px;
    float: left;
    width: 100%;
    min-height: 42px;
    list-style-type: none;
    margin-left: -30px;
}

/* products-items section */

.shop-area-main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 5% 0 5%;
  gap: 2%;
}

@media (max-width: 400px){
  .shop-area-main-container{
      flex-direction: column;
  }
}

.shop-area select {
    padding: 10px;
}
.shop-product-item .product-item-container{
  padding: 4%;

}
.shop-product__img {
  position: relative;
}

.shop-product__img:hover{
  transform:translateY(-2px);
  transform: scale(1.1);
} 

.shop-product__img img {
	width: 100%;
}

.shop-product__content{
  padding-right: 15px;
  height: auto;
}

.img, img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

.shop-product-cat {
  /* margin-bottom: 5px; */
  display: block;
}

.shop-product-cat > a {
  color: #504f4f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.shop-product-cat a:hover {
  color: #b0b0af;
}
.fa-heart{
  color: rgb(0, 0, 0);
  font-size: 20px;
  float:right;
}

.shop-product-title {
  margin-bottom: 5px;
  margin-right: 10px;
}

.shop-product-title a {
  font-size: clamp(18px, 2vw, 20px);
  color: #000;
  font-weight: 700;
}

.shop-product-title a:hover {
  color: var(--pri_color);
}
.fa-star {
  color: var(--pri_color); /* yellow color */
  font-size: 14px;
}

.shop-price-button-container{
  margin-top: 15px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.shop-product-price {
  color: #595B6B;
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 700;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  
}
.base-btn{
  background: linear-gradient(to right, var(--pri_color), #f6f6f6);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  display: inline;
  text-align: center;
}
.base-btn:hover{
  background: linear-gradient(to right,  #f6f6f6,var(--pri_color));
  transform:translateY(-3px);
  /* color:white */
}
.base-btn a, .base-btn a:hover{
  color: white;
}

.shop-area-main-container .lodmore-button{
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

/* Shop page - End */



/* Individual Product page */

/* Product-banner-area */

 .product-banner-area{
    padding-top: 120px;
    padding-bottom: 90px;
  }

.product-images-container{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 25px;
}

.product-large-img{
  width: 80%;
  height: 50%;
   /* background-color: #4e4a4a; */
  margin: 0px;
  padding: 0;
  justify-self: center;
}
.product-large-img img{
  /* background-color: #171414; */
  width: 100%;
  height: 100%;
  /* margin-bottom: -5%; */
  /* object-fit: cover; */
  /* margin: 0px; */
  padding: 0;
  
}

.product-thumb-tab {
  width: 100%;
  align-self: center;
  /* box-sizing: border-box; */
  /* background-color: rgb(48, 48, 48); */
}

.product-thumb-tab .nav{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin:0 10%;
  /* background-color: rgba(0, 0, 0, 0.488); */
}
.product-thumb-tab .nav-item {
  flex: 0 1 1 auto;
  padding: 0;
  margin: 0;
  /* background-color: rgba(0, 0, 0, 0.634); */
}

.product-thumb-tab .nav-item img{
  width: 135px; 
  object-fit: contain;
}

.product-thumb-tab ul li a {
  padding: 0;
}

@media (max-width: 767px) {
  .product-thumb-tab {
    float: none;
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .product-thumb-tab ul {
    margin: 0 -5px;
  }
}

@media (max-width: 767px) {
  .product-thumb-tab ul li {
    width: 33.33%;
    float: left;
    padding: 0 5px;
  }
}


@media (max-width: 767px) {
  .product-details-img {
    margin-left: 0;
  }
}

/* .product-details-title{
  padding-top: px;
} */

.product-details-title > h1{
  font-size: 35px;
  font-weight: 700;
}
.product-details-title span, .product-cat{
  font-size: 16px;
  font-weight: 630;
}
.product-details p, .Product-description p, .Product-Heighlight-section p{
  color: #504f4f;
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0;
}

.price-details .new-price {
  color:var(--pri_color);
  font-size: 30px;
  display: inline-block;
  font-weight: 700;
}

.price-details .old-price {
  font-size: 25px;
  color: #aaa9a9;
  text-decoration: line-through;
}



.product-cat > a {
  color: #595B6B;
}
.product-cat > a:hover {
  color: #a9a7a7;
}
.product-social-icons a{
  margin-right: 8px;
  background: var(--pri_color); 
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.product-social-icons a:hover {
  background: #000000ac;
  color: #ffffff;
}

.Product-description h3, .Product-Heighlight-section h3{
  font-size: 24px;
  font-weight: 600;
}


@media (max-width: 180px){
  .product-banner-area{
    padding-top: 10px;
  }
  
}
.product-Heighlight-title{
  margin: 0 30px;
  text-align: center;
}
.product-Heighlight-title h2, .product-spec-title h2{
  font-size: clamp(36px, 4.5vw, 60px);
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--pri_color);
  text-align: center;
}

.product-Heighlight-section h3, .product-Heighlight-section p{
  color: white;
  margin: 20px 10px;

}
.product-Heighlight-description p{
  margin-right:40px;
}
.product-Heighlight-list{
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  flex-wrap: wrap;
} 
.product-Heighlight-item {
   display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  margin: 0 60px;
}


@media (max-width: 768px) {
  .product-Heighlight-item {
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
  }
  .product-Heighlight-description p{
  margin-right:0;
}

  .product-Heighlight-description {
    order: 1;
  }

  .product-Heighlight-image {
    order: 2;
  }
  .product-Heighlight-section h3, .product-Heighlight-section p, .product-Heighlight-title h2{
  margin-bottom: 20px;
  }
}


/* specification */

.product-spec-area{
  background-color: #000000;
}

.table,
.table th,
.table td, .event-text p {
  color: rgb(167, 166, 166);
  border: none !important;
}

.table tbody tr:nth-child(odd) {
  background-color: #303030; 
  border: none;
}

.table tbody tr:nth-child(even) {
  background-color: #000000; 
}


.bakix-details-tab ul {
  border-bottom: 2px solid #303030;
  padding-bottom: 15px;
}

.bakix-details-tab ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 2px;
  /* padding: 0; */
  text-transform: capitalize;
  position: relative;
  padding: 0 25px;
}

@media (max-width: 767px) {
  .bakix-details-tab ul li a {
    padding: 0 10px;
  }
}

.bakix-details-tab ul li a.active {
  color: var(--pri_color);
}
.bakix-details-tab ul li a:hover {
  color: #999998;
}

.bakix-details-tab ul li a.active:before {
  position: absolute;
  bottom: -18px;
  left: 0;
  height: 3px;
  width: 20%;
  margin: 0 35px 2px 35px;
  content: " ";
  background: var(--pri_color);
}

@media (max-width: 767px) {
  .bakix-details-tab ul li a.active:before {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bakix-details-tab ul li a.active:before {
    display: block;
  }
}





/* Contact page */
.contact-main-container .container{
  border-radius: 10px;
  box-shadow: 0 0 65px 0 rgba(0, 0, 0, .09);
  padding: 5%;
  margin-bottom: 40px;
}

.contact-info{
  display: flex;
  flex-direction: row;
}

.contact-info h2{
  font-size: clamp(28px, 2.5vw, 35px);
  font-weight: 700;
  color: var(--pri_color);
  text-align: start;
}
.contact-info-list .f-contact h3 {
    color: #000000;
    font-size: 24px;
    
}

.contact-info-list > *:not(:last-child) {
  margin-bottom: 6%;
}

@media (max-width: 768px) {
  .contact-info-list > * {
    display: flex;
    margin-bottom: 6%;
    /* align-items: center; */
    /* /* justify-content: center; */
  } 
    .f-contact .text{
    text-align: center;
  }
  .contact-info-list h2{
    justify-content: center;
  }
} 


/* conatct form */
.contact-info .contact-form{
    border-radius: 10px;
    box-shadow: -6px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
  }
  .contact-info p{
    margin-right: 50px;
  }
  .contact-info ul{
    list-style-type: none;
  }
  .contact-form input, .contact-form textarea {
     width: 100%;
      padding: 1%;
      border-radius: 5px;
      outline: none;
      border: 1px solid #8d8c8b;
      font-size: 15px;
      margin-bottom: 14px;
    }
    .contact-form input:focus, .contact-form textarea:focus{
      outline: none;
      /* border: 1px solid #585857;     */
    }

    .success {
      color: green;
      text-align: center;
      margin-top: 10px;
    }

    @media (max-width: 600px) {
      .form-container {
        padding: 15px;
      }

      input, textarea {
        font-size: 14px;
      }
      .contact-info, .contact-info h2, .contact-info p {
        text-align: center;
        align-self: center;
      }
      .contact-info p{
        margin: 5px;
      }
      .contact-info ul{
        text-align: center;
      }
    }




.contact-info-list .f-contact .icon {
    float: left;
    margin-top: 7px;
    margin-right: 15px;
    width: 40px;
}

.contact-info-list .f-contact span{
    color:#444545;
    font-size: 16px;
    font-weight: 600;
}

.contact-main-container .contact-map iframe{
   width: 100% !important;
    height: auto;
    min-height: 300px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .location-title {
        font-size: 24px;
        text-align: center;
    }
    .f-contact {
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
    }
    .f-contact img {
        margin-bottom: 10px;
    }
}

/* footer */

.footer-top{
    padding-top: 80px;
}
.footer-bg {
    color:#777;
    background-position: -180px center!important;
    background-size: cover;
}
.footer-text p {
	color: #ddd;
	margin-bottom: 0;
}

.footer-social a {
font-size: 16px;
display: inline-block;
margin-right: 10px;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #ffffff47;
text-align: center;
line-height: 40px;
color: #fff !important;
}
.footer-social a:hover{    
  background: var(--pri_color);
    color: #fff !important;
}
.f-widget-title h2,.footer-widget .widgettitle  {
	font-size: 24px;
  margin-bottom: 5px;
  position: relative;
  padding-bottom: 30px;
  color: #fff;
}

.footer-link ul li{
    color: var(--pri_color);
    list-style-type: none;
}
.footer-link ul li a {
	color:#cdd1d6;
	display: inline-block;
  margin-left: -30px;
}
.footer-link ul li a::before {
  content: "+";
  margin-right: 8px;
  color: var(--pri_color);
  font-size: 18px;
}
.footer-link ul li a:hover, .f-text{
  color: #e3e3e3;
}
.footer-link ul li {
margin-bottom: 10px;
}
.footer-link ul li:last-child{
  margin-bottom: 0;
}
.footer-subricbe{
  background-color: #fff;
  width:90%;
  border-radius: 10px;
}

.footer-subricbe .contact-form{
  padding: 10px;
}
.footer-subricbe .contact-form input{
  border: none;
  outline: none;
  width: 70%;
  margin : 0;
}

.footer-subricbe .footer-btn{
 background-color: var(--pri_color);
 margin-left: 20px;
 color: #fff;
}
@media (max-width: 810px) {
 .footer-subricbe .contact-form input{
    width: 70%;
  }
}

.footer-subricbe .footer-btn:hover{
 color: #000000;
}
.copyright-wrap {
    /* background: #13171a; */
    color: #fff;
    font-size: 15px;
    margin: 20px 25px 0px 15px;
    padding-bottom: 3%;

}
.copyright-wrap .container a{
    color: var(--pri_color);
}


